.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  font-family: Arial, sans-serif;
}

header {
  background: #61dafb;
  padding: 20px;
  border-radius: 5px;  
  text-align: center; 
}

h1 {
  margin: 0;
}

form {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}
  
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  background: #008000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;  
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  background: #fff;
  padding: 10px; 
  width:40vw;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

body {
  background: #f7f7f7;
  color: #333;
  font-family: Arial, sans-serif;
  line-height: 1.6; 
}

a {
  color: #61dafb;
}

a:hover {
  color: #3db2ff;
}
